/******************************************
File Name: responsive.css
/****************************************** */
/* //////////////////////////////// */
 /* //////   ACERCA DE    /////// */
/* //////////////////////////////// */
nav{
	-webkit-box-shadow:  1px 1px 5px 3px rgba(255, 255, 255, 0.2);
	box-shadow:  1px 1px 5px 3px rgba(255, 255, 255, 0.2);
}
.container-1 {
	font-family: Arial, sans-serif;
}
.container-2, .container-1, .carr{
	background: rgba(0, 0, 0, 0.668);
}
/* /////// MENU PLATILLOS */
.menu-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.menu-ct{
	display: flex;
	padding: 3%;
}
.menu-ct p, .no-platillos-message p{
	margin-right: 2rem;
	cursor: pointer;
	color: white;
	text-align: center;
	text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
	transition: all 0.3s ease;
	position: relative;
}
.menu-ct p:hover{
	color: #ff7010;
  }
  .menu-ct p::before {
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 2px; /* Grosor del subrayado */
	  bottom: 0;
	  left: 0;
	  background-color: #ff7010;
	  transform: scaleX(0); /* Inicialmente, la animación comienza sin subrayado */
	  transform-origin: bottom right;
	  transition: transform 0.3s ease; /* Animación de 0.3 segundos */
  }
  .menu-ct p:hover::before {
	  transform: scaleX(1); /* Al pasar el puntero, se anima el subrayado */
	  transform-origin: bottom left;
  }

  .menu-ct p.active-category{
	color: #ff7010;
  }
  .menu-ct p.active-category::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  /* '''''''''''''''''''''''''''''''' */
  /* '-'-'-'-'-VISIVILIDAD DE 
  -'-'-'-'-''-'LAS SECCIONES DE MENU -'-' */
  /* ------------------------------------- */
  [data-content] {
	display: none;
}
.active[data-content] {
	display: block;
}
  /* ////// Botones de desplazamiento */
  .scroll-button {
    background: transparent;
	color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
}
.scroll-button:hover{
	color: #ff7010;
}
.scroll-button.left {
    margin-right: 10px;
}

.scroll-button.right {
    margin-left: 10px;
}
/* ///////// FIn botones desplazamiento */
.container-1, .carr{
	padding: 20px;
	text-align: center;
	color: #fff;
	
	text-shadow: -1px -1px 0 black,
                1px -1px 0 black,
                  -1px 1px 0 black,
                  1px 1px 0 black;
	-webkit-box-shadow:  1px 1px 5px 3px rgba(255, 255, 255, 0.2);
	box-shadow:  1px 1px 5px 3px rgba(255, 255, 255, 0.2);
}
.carousel-caption{
	padding-left: 0.5%;
	padding-right: 0.5%;
	background: rgba(0, 0, 0, 0.583);
	width: 100%;
	text-align: center;
	right: auto !important;
	left: auto !important;
}
.carr p{
	font-size: 18px;
}
.container-1 em{
	color: rgb(255, 140, 0);
}
.container-1 h2, .carr h2 {
	font-size: 2.5em;
	color: rgb(255, 153, 0);
	font-family: 'Nautilus Pompilius', sans-serif;
}

.container-1 p, .container-2 p {
	font-size: 1.5em;
	margin-bottom: 20px;
}
.restaurant-image {
	width: 100%;
	height: auto;
	border: 5px solid white;
}
/* Efectos de revelado */
.reveal {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s, transform 1s;
}

/* Activar efectos al desplazarse hacia arriba */
.reveal.in-view {
	opacity: 1;
	transform: translateY(0);
}
/* //////////////////////////////// */
/* ----   Carrousel Slider */
.carr .carousel{
	width: 70%;
}
/* //////////////////////////////// */
/* ----   Menu de Imagenes */
/* Estilos personalizados para la superposición de imágenes */
.menu-t .col-md-4:hover{
	-webkit-box-shadow:  1px 1px 5px 3px rgba(183, 251, 224, 0.286);
	box-shadow:  1px 1px 5px 3px rgba(183, 251, 224, 0.286);
}
.menu-item {
	position: relative;
	overflow: hidden;
}
.menu-item img {
	transition: transform 0.3s ease;
}
.menu-item:hover img {
	transform: scale(1.1);

}
.menu-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.menu-item:hover .overlay {
	opacity: 1;
}
/* //////////////////////////////// */
/* ----   BOTONN CON CHINGO CSS */
#redirect-menu {
	position: relative;
	width: 11em;
	height: 4em;
	outline: none;
	transition: 0.1s;
	background-color: transparent;
	border: none;
	font-size: 13px;
	font-weight: bold;
	color: #ddebf0;
  }
  
  #clip {
	--color: #2761c3;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border: 5px double var(--color);
	box-shadow: inset 0px 0px 15px #195480;
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
	position: absolute;
	transition: 0.2s;
	background-color: #2761c3;
	top: 35%;
	width: 11%;
	height: 30%;
  }
  
  #leftArrow {
	left: -13.5%;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
	-webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
	left: 102%;
  }
  
  button:hover #rightArrow {
	background-color: #27c39f;
	left: -15%;
	animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  button:hover #leftArrow {
	background-color: #27c39f;
	left: 103%;
	animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
	position: absolute;
	width: 4em;
	height: 4em;
	background-color: #2761c3;
	box-shadow: inset 1px 1px 8px #2781c3;
	transform: scale(1) rotate(45deg);
	transition: 0.2s;
  }
  
  #rightTop {
	top: -1.98em;
	left: 91%;
  }
  
  #leftTop {
	top: -1.96em;
	left: -3.0em;
  }
  
  #leftBottom {
	top: 2.10em;
	left: -2.15em;
  }
  
  #rightBottom {
	top: 45%;
	left: 88%;
  }
  
  button:hover #leftTop {
	animation: 0.1s ease-in-out 0.05s both changeColor8,
	0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightTop {
	animation: 0.1s ease-in-out 0.15s both changeColor8,
	0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightBottom {
	animation: 0.1s ease-in-out 0.25s both changeColor8,
	0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #leftBottom {
	animation: 0.1s ease-in-out 0.35s both changeColor8,
	0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover .corner {
	transform: scale(1.25) rotate(45deg);
  }
  
  button:hover #clip {
	animation: 0.2s ease-in-out 0.55s both greenLight8;
	--color: #27c39f;
  }
  
  @keyframes changeColor8 {
	from {
	  background-color: #2781c3;
	}
  
	to {
	  background-color: #27c39f;
	}
  }
  
  @keyframes lightEffect8 {
	from {
	  box-shadow: 1px 1px 5px #27c39f;
	}
  
	to {
	  box-shadow: 0 0 2px #27c39f;
	}
  }
  
  @keyframes greenLight8 {
	from {
	}
  
	to {
	  box-shadow: inset 0px 0px 32px #27c39f;
	}
  }
  
  @keyframes leftArrow8 {
	from {
	  transform: translate(0px);
	}
  
	to {
	  transform: translateX(10px);
	}
  }
  
  @keyframes rightArrow8 {
	from {
	  transform: translate(0px);
	}
  
	to {
	  transform: translateX(-10px);
	}
  }
  
  
  
  /* ----  FIN DE BOTONN CON CHINGO CSS */
  /* //////////////////////////////// */

/* //////////////////////////////// */
@media (max-width: 1120px) {
    .hero h1 {
        font-size: 3.5em;
    }

    .hero p {
        font-size: 1.2em;
    }
}
@media (max-width: 992px) {
	.hero h1 {
        font-size: 3.2em;
    }
	.footer-box-a, .footer-box-b, .footer-box-c, .footer-box-d{
		margin-bottom:20px;
	}
	.carr .carousel{
		width: 95%;
	}
	.navbar-brand img{
		height: 45%;
	}

}  
@media (max-width: 816px) {
	.carousel-caption p{
		display: none;
	}

}  
@media (max-width: 768px) {
	.hero {
		background-size: inherit;
	}
	.hero h1 {
		font-size: 50px;
		line-height: 62px;
	}
	.container-1 p, .container-2 p {
		font-size: 1.2em;
		margin-bottom: 17px;
	}
	.restaurant-image {
		width: 80%;
	}
}